{{!-- START Modal ADD--}}
<div class="modal fade bd-example-modal-sm" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLabel">Add a new Competency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/courses/competencies/add" method="post" autocomplete="off">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <textarea rows="3" type="text" name="description" placeholder="Description" class="form-control"
                            required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Save Competency</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- END Modal ADD--}}

{{!-- START Modal DELETE--}}
<div class="modal fade bd-example-modal-sm" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Competency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure?</h3>
                <form method="post" action="" id="frmDelete" name="frmDelete" role="form">
                    <div class="form-group">
                        <input hidden class="form-control" type="text" id="id" name="id" value="id" />
                    </div>
                    <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- END Modal DELETE--}}

{{!-- START Modal UPDATE--}}
<div class="modal fade bd-example-modal-sm" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Competency</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="frmedit" name="frmedit" role="form" autocomplete="off">
                    <input hidden class="form-control" type="text" id="id" name="id" value="id" />
                    <div class="form-group">
                        <label for="name">
                            Name: <input class="form-control" type="text" id="name" name="name" value="name" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="description">
                            Description: <textarea rows="3" class="form-control" type="text" id="description"
                                name="description" value="description"></textarea>
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="updatedAt" name="updatedAt" value="{{servertime}}"
                            required>
                    </div>
                    <input type="submit" value="Update" class="btn btn-success btn-block" />
                </form>
            </div>
        </div>
    </div>
</div>
{{!-- END Modal UPDATE--}}

{{> administrator/header }}
<div class="app-main">
    {{> administrator/sideBar }}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="metismenu-icon pe-7s-diamond">
                            </i>
                        </div>
                        <div>Competencies Maintainer
                            <div class="page-title-subheading">This is the Maintainer for the Competencies of the SRV.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <div class="container-fluid">
                    {{> administrator/message}}
                    <div class="row">
                        <div class="col col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                                    data-target="#add">
                                    Add a new Competency
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="container-fluid">
                    {{#if competencies}}
                    <table
                        class="table dataTable datatable-button-html5-columns collapsed display compact nowrap table-striped table-hover">
                        <caption>List of Competencies</caption>
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each competencies}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                                <td>{{description}}</td>
                                <td>{{timeago createdAt}}</td>
                                {{#if updatedAt}}
                                <td>{{timeago updatedAt}}</td>
                                {{else}}
                                <td>Never</td>
                                {{/if}}
                                <td>
                                    <a href="#edit" data-toggle="modal" data-id="{{id}}" data-name="{{name}}"
                                        data-description="{{description}}" data-updatedAt="{{updatedAt}}"
                                        class="btn btn-primary">Update</a>
                                </td>
                                <td>
                                    <a href="#delete" data-toggle="modal" data-id="{{id}}" data-name="{{name}}"
                                        class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{else}}
                    <h3 class="text-center">Whoops... There are not Competencies here. Create one!</h3>
                    {{/if}}
                </div>
            </div>
        </div>
        {{> administrator/footer }}
    </div>
</div>
<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#edit').on('show.bs.modal', function (e) {
        var id = $(e.relatedTarget).data('id');
        var name = $(e.relatedTarget).data('name');
        var description = $(e.relatedTarget).data('description');
        var updatedAt = $(e.relatedTarget).data('updatedAt');
        $(e.currentTarget).find('input[name="id"]').val(id);
        $(e.currentTarget).find('input[name="name"]').val(name);
        $(e.currentTarget).find('textarea[name="description"]').val(description);
        $(e.currentTarget).find('input[name="updatedAt"]').val(updatedAt);
        $("#frmedit").attr("action", "/admin/courses/competencies/update/" + id);
    });
</script>
<script type="text/javascript">
    $('#delete').on('show.bs.modal', function (e) {
        var id = $(e.relatedTarget).data('id');
        $(e.currentTarget).find('input[name="id"]').val(id);
        $("#frmDelete").attr("action", "/admin/courses/competencies/delete/" + id);
    });
</script>
<script>if (window.module) module = window.module;</script>