<% include partials/_header %>
<div class="container">
    <div class='row mt-5'>
        <div class="col-md-8">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Use Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% if (data) { %>
                    <% for (var i=0; i < data.length; i++) { %>
                        <tr>
                            <td><%= data[i].id %></td>
                            <td><%= data[i].username %></td>
                            <td><%= data[i].firstname %></td>
                            <td><%= data[i].lastname %></td>
                            <td><%= data[i].email %></td>
                            <td><a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a></td>
                            <td><a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a></td>
                        </tr>
                    <% } %>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="firstname" placeholder="First Name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastname" placeholder="Last Name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save user</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/_footer %>