<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col col-lg-12">
            <div class="text-right">
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#add">
                    Add a new Student
                </button>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <table
            class="table dataTable datatable-responsive-tafesa-courses-competencies collapsed display compact nowrap table-striped table-hover">
            <caption>List of Students</caption>
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each students}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{username}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{email}}</td>
                    <td>{{timeago createdAt}}</td>
                    {{#if updatedAt}}
                    <td>{{timeago updatedAt}}</td>
                    {{else}}
                    <td>N/A</td>
                    {{/if}}
                    <td>
                        <a href="#edit" data-toggle="modal" data-id="{{id}}" data-username="{{username}}"
                            data-first-name="{{firstName}}" data-last-name="{{lastName}}" data-email="{{email}}"
                            data-updatedAt="{{updatedAt}}" class="btn btn-primary">Update</a>
                    </td>
                    <td>
                        <a href="#delete" data-toggle="modal" data-id="{{id}}" data-username="{{username}}"
                            class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="modal fade bd-example-modal-sm" id="add" tabindex="-1" role="dialog" aria-labelledby="add"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add">Add a new Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/admin/students/add" method="post">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="firstName" placeholder="First Name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastName" placeholder="Last Name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="role" name="role" class="form-control" value="student" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Save Student</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-sm" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="" id="frmedit" name="frmedit" role="form">
                        <div class="form-group">
                            <label for="id">
                                Id: <input readOnly class="form-control" type="text" id="id" name="id" value="id" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="username">
                                Username: <input class="form-control" type="text" id="username" name="username"
                                    value="username" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="firstName">
                                First Name: <input class="form-control" type="text" id="firstName" name="firstName"
                                    value="firstName" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="lastName">
                                Last Name: <input class="form-control" type="text" id="lastName" name="lastName"
                                    value="lastName" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email: <input class="form-control" type="text" id="email" name="email" value="email" />
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="updatedAt" name="updatedAt"
                                value="{{servertime}}" required>
                        </div>
                        <input type="submit" value="Update" class="btn btn-success btn-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-sm" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>Are you sure?</h3>
                    <form method="post" action="" id="frmDelete" name="frmDelete" role="form">
                        <div class="form-group">
                            <label for="id">
                                Id: <input readOnly class="form-control" type="text" id="id" name="id" value="id" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="username">
                                Username: <input readOnly class="form-control" type="text" id="username" name="username"
                                    value="username" />
                            </label>
                        </div>
                        <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#edit').on('show.bs.modal', function (e) {
            var id = $(e.relatedTarget).data('id');
            var username = $(e.relatedTarget).data('username');
            var firstName = $(e.relatedTarget).data('firstName');
            var lastName = $(e.relatedTarget).data('lastName');
            var email = $(e.relatedTarget).data('email');
            var updatedAt = $(e.relatedTarget).data('updatedAt');
            $(e.currentTarget).find('input[name="id"]').val(id);
            $(e.currentTarget).find('input[name="username"]').val(username);
            $(e.currentTarget).find('input[name="firstName"]').val(firstName);
            $(e.currentTarget).find('input[name="lastName"]').val(lastName);
            $(e.currentTarget).find('input[name="email"]').val(email);
            $(e.currentTarget).find('input[name="updatedAt"]').val(updatedAt);
            $("#frmedit").attr("action", "/admin/students/update/" + id);
        });
    </script>
    <script type="text/javascript">
        $('#delete').on('show.bs.modal', function (e) {
            var id = $(e.relatedTarget).data('id');
            var username = $(e.relatedTarget).data('username');
            $(e.currentTarget).find('input[name="id"]').val(id);
            $(e.currentTarget).find('input[name="username"]').val(username);
            $("#frmDelete").attr("action", "/admin/students/delete/" + id);
        });
    </script>
</div>